/* src/App.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding-top: 80px; /* Add padding to account for the fixed navbar height */
  background-color: #f9f9f9;
}

h2 {
  color: #333;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
